
/* Default font for body */
body {
    font-family: "Arial, sans-serif", serif !important;
}

/* secondary font */
.secondary-font, #secondary-font {
    font-family: "Arial", serif;
}

/* primary font */
.primary-font, #primary-font {
    font-family: "Arial", sans-serif;
}

/* Default font */
.default-font, #default-font {
    font-family: "Arial, sans-serif", sans-serif;
}